<div class="container-lg text-center">
  <div class="card">
    <div class="card-body">
      <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
      <div class="card-title">
        <h2>Chatbot</h2>
      </div>
      <p class="card-text">
        ¡Hola! Soy un chatbot. ¿En qué puedo ayudarte hoy?
      </p>
      <input type="text" formControlName="query" placeholder="Escribe aquí..." />
      <button type="submit" class="btn btn-primary">Enviar</button>
      </form>
    </div>
  </div>
</div>